!!!
hmtl
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title Where are you going to ?
  body
    table(style="margin-top: 100px;")
      tr
        td(style="width: 20%;")
        td
          img(src="/images/500.png")
        td(style="width: 100%; padding-left: 20px;", valign="top")
          p(style="width: 300px;")
            | Khu vực cấm
            p
              a(href="/") quay lại 
        td(style="width: 20%;")